.Topic {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 80vw;
  /* height: calc(100vh - 12rem);
  overflow-y: scroll; */
}
.Topic .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}
.Topic .title div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Topic .title p {
  font-size: 2rem;
  color:var(--color-blue);
  display: flex;
  gap: 1rem;
}
.Topic .title .btn-topic-create {
  margin-right: 15rem;
  color:#ffffff;
  background-color: var(--color-blue);
  padding: 0.6em 1em;
  border-radius: 3px;
  font-size: .8em;
}
.Topic .title .btn-create:hover {
  background-color: gray;
  border-color: gray;
}
.topicCard {
  margin: 0 5rem;
}
