.Topic {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 100vw;
}
.Topic .container {
  margin: 0 auto;
  max-width: 100%;
}
.Topic .title {
  background-color: #cccccc;
}
.Topic .title-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Topic .title-container ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding-left: 22px;
}

.Topic .title-container h2 {
  color: var(--color-primary-dark);
}

/* SNS icons */
.Topic .title-container .sns-icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  margin: .9rem 0;
  color: var(--color-blue);
}

/* Create Button */
.Topic .btn-topic-create {
  margin: 3rem 0;
  background-color: #ffffff;
  padding: 0.6em 1em;
  border-radius: 3px;
  font-size: .8em;
}
.Topic .title .btn-create:hover {
  background-color: gray;
  border-color: gray;
}

/* TopicCard */
/* .Topic .topicCard {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.Topic .topicCard .date {
  font-family: var(--body-font-sawarabi);
  font-weight: normal;
  font-size: .9rem;
  padding-top: 1rem; 
}
.Topic .topicCard .title {
  font-size: .8rem;
  color: var(--color-primary-dark);
  padding-bottom: 1rem;
}
.Topic .TopicCard picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Topic .TopicCard img {
  width: 295px;
  height: 295px;
  object-fit: cover;
  display: block;
  opacity: 1;
  transition: .3s;
}
.Topic .TopicCard img:hover {
  opacity: 0.5;
} */