.wrap {
  background-image: url("/images/logo-raku.png");
  background-repeat: no-repeat;
  background-size: 25%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

