.wrap {
  background-image: url("https://res.cloudinary.com/dyu65fpse/image/upload/v1681581286/logo-raku_i9yeub.png");
  background-repeat: no-repeat;
  background-size: 25%;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

