/*.ProductDetailedCard */
.ProductDetailedCard {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 80vw;
}
.ProductDetailedCard .container {
  margin: 0 auto;
}

/* Edit-button & Delete-button */
.ProductDetailedCard .btns-container .btns-box {
  display: flex;
}
.ProductDetailedCard .btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}
.ProductDetailedCard .btns-container .leftarrow-icon {
  font-size: 1.2rem;
  font-family: var(--body-font-sawarabi);
  vertical-align: bottom;
}
.ProductDetailedCard .btn-block {
  color:#ffffff;
  background-color: var(--color-blue);
  margin-left: 1rem;
}
.ProductDetailedCard .btn-block:hover {
  background-color: gray;
  border-color: gray;
}

/* main container */
.ProductDetailedCard .product-details-right .h2 {
  font-family: var(--body-font-sawarabi);
}
.ProductDetailedCard .product-details-right p {
  font-family: var(--body-font-sawarabi-gothic);
  font-size: 1rem;
}
.ProductDetailedCard .product-details {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.ProductDetailedCard .product-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 5rem;
}
.ProductDetailedCard .product-details-right {
  width: 50%;
}
.ProductDetailedCard .product-details-right table{
  border-bottom: 1px solid black;
  width: 100%;
}
.ProductDetailedCard .product-details-right td {
  text-align: right;
}
.ProductDetailedCard tr, .ProductDetailedCard .brand {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
}
.ProductDetailedCard tr {
  position: relative;
}
.ProductDetailedCard td:nth-child(2) {
  text-align: right;
}

.ProductDetailedCard .description {
  width: 100%;
  border-top: 1px solid black;
  text-align: left;
}
.ProductDetailedCard .description p {
  margin: 1rem 0;
  font-size: 1rem;
}
.ProductDetailedCard .product-details-right .button-cart {
  display: flex;
  justify-content: flex-end;
}
.ProductDetailedCard .product-details-right .btn-cart {
  margin: 2rem 0;
}
.product-details .message {
  color:rgb(234, 93, 42)
}

.ProductDetailedCard .Counter button {
  background-color: transparent;
  border: none;
  position: relative;
  font-size: 0px;
}
.ProductDetailedCard .Counter .right-icon {
  position: absolute;
  top: -23px;
  right: -30px;
  font-size: 2rem;
  color: var(--color-line-box);
}
.ProductDetailedCard .Counter .left-icon {
  position: absolute;
  top: -23px;
  right: 0px;
  font-size: 2rem;
  color: var(--color-line-box);
}