/* Product details */
.Cart .CartCard {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-line-box);
  background-color: #ffff;
}
.Cart .CartCard img {
  vertical-align:top;
}
.Cart .CartCard td {
  width: 150px;
}
.Cart .CartCard tr {
  display: flex;
  align-items: center;
  text-align: right;
}
.Cart .CartCard td:first-child {
  text-align: left;
}
.Cart .CartCard td:nth-child(2) {
  text-align: left;
}
.Cart .CartCard form {
  position: relative;
}
.Cart .CartCard .batsu-icon {
  position: absolute;
  top: -1.3rem;
  right: .1rem;
  color: var(--color-red);
  font-size: 1rem;
}
