.FormAddAddress {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 80vw;
}
.FormAddAddress .container {
  margin: 0 auto;
  width: 40%;
}
.FormAddAddress .title h2 {
  padding: 2rem;
  text-align: center;
}
.FormAddAddress form {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--color-line-box);
}
.FormAddAddress tr {
  display: flex;
  flex-direction: column;
}
.FormAddAddress form .save-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.FormAddAddress form .save-btns .cancel {
  text-decoration: underline;
  color: var(--color-link-red);
}