.Store {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 100vw;
}
.Store .container {
  margin: 0 auto;
  width: 100%;
}
.Store .title {
  background-color: var(--color-blue);
}
.Store .title-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Store .title-container ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  gap: 2rem;
  padding-left: 22px;
}

/* Search */
.Store .Search {
  display: flex;
  align-items: center;
}
.Store .Search .Search-form {
  position: relative;
}
#search-keyword {
  outline: none;
  width: 15rem;
  height: 2rem;
}
#search-keyword {
  border: 2px solid black;
  padding: .5rem 0 .5rem 1.8rem;
  }
.search-icon {
  position: absolute;
  top: 1.3rem;
  left: .5rem;
  color: var(--color-primary-light);
  z-index: 1;
}
.Search input {
  margin-top: .8rem;
}

/* Create Button */
.Store .btn-product-create {
  margin-right: 15rem;
  background-color: #ffffff;
  padding: 0.6em 1em;
  border-radius: 3px;
  font-size: .8em;
}
.Store .btn-product-create:hover {
  background-color: gray;
  border-color: gray;
  color: #ffffff;
}

/* ProductCard */
/* .Store .productCard {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.Store .productCard .name {
  font-family: var(--body-font-sawarabi);
  font-weight: normal;
  font-size: .9rem;
  padding-top: 1rem; 
}
.Store .productCard .price {
  font-size: .8rem;
  color: var(--color-primary-dark);
  padding-bottom: 1rem;
}
.Store .ProductCard .container{
  width: 100%;
}
.Store .ProductCard picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Store .ProductCard picture img {
  width: 295px;
  height: 295px;
  object-fit: cover;
  display: block;
  opacity: 1;
  transition: .3s;
}
.Store .ProductCard picture img:hover {
  opacity: 0.5;
} */