.Store {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 80vw;
}
.Store .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  margin-bottom: 1rem;
}
.Store .store-title {
  position: absolute;
  right:500px;
  top: -15px;
  text-align: center;
}
.Store .title div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Store .btn-product-create {
  margin-right: 15rem;
  color:#ffffff;
  background-color: var(--color-blue);
  padding: 0.6em 1em;
  border-radius: 3px;
  font-size: .8em;
}
.Store .btn-product-create:hover {
  background-color: gray;
  border-color: gray;
}
.productCard {
  margin: 0 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: calc(20% - 11.7rem);
}


/* News-banner */
/* バナー本体 */
.Store .news-banner {
  display: block;
  height: 30px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--color-line-box);
  border-top: 1px solid var(--color-line-box);
  margin-bottom: 3rem;
}
