.Store {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 80vw;
  /* height: calc(100vh - 12rem);
  overflow-y: scroll; */
}
.Store .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}
.Store .title div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Store .btn-product-create {
  margin-right: 15rem;
  color:#ffffff;
  background-color: var(--color-blue);
  padding: 0.6em 1em;
  border-radius: 3px;
  font-size: .8em;
}
.Store .btn-product-create:hover {
  background-color: gray;
  border-color: gray;
}
.productCard {
  margin: 0 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: calc(20% - 11.7rem);
}

