.TopicCard {
  margin: 0 auto 10rem auto;
}
.TopicCard .title-topic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 2px solid rgb(186, 186, 186);
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}
.TopicCard .description {
  margin-top: 2rem;
}
.TopicCard .name {
  font-size: 1.3rem;
  padding-bottom: .5rem;
}
.TopicCard .name {
  font-size: 1rem;
}
.TopicCard picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.TopicCard picture img {
  width: 100%;
  height: 500px;
}