.topicCard {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.topicCard .topic-date {
  font-family: var(--body-font-sawarabi);
  font-weight: normal;
  font-size: .9rem;
  padding-top: 1rem; 
}
.topicCard .topic-title {
  font-size: .8rem;
  color: var(--color-primary-dark);
  padding-bottom: 1rem;
}
.topicCard .title-topic div {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.topicCard .categoryTopicEvent {
  background-color: var(--color-red);
  color: #ffffff;
  padding: .2rem .5rem;
  font-size: .7rem;
  border-radius: 3px;
}
.topicCard .categoryTopicEtc {
  background-color: var(--color-blue);
  color: #ffffff;
  padding: .2rem .5rem;
  font-size: .7rem;
  border-radius: 3px;
}
.TopicCard picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.TopicCard img {
  width: 295px;
  height: 200px;
  object-fit: cover;
  display: block;
  opacity: 1;
  transition: .3s;
}
.TopicCard img:hover {
  opacity: 0.5;
}