.TopicCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.TopicCard .title-topic {
  margin-bottom: 3rem;
}
.TopicCard .description {
  margin-top: 2rem;
}
.TopicCard .name {
  font-size: 1.3rem;
  padding-bottom: .5rem;
}
.TopicCard .name {
  font-size: 1rem;
}
.TopicCard picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}
.TopicCard picture img {
  width: auto;
  height: 180px;
  display: block;
  opacity: 1;
  transition: .3s;
}
.TopicCard picture img:hover {
  opacity: 0.5;
}