.Cart {
  margin: 0 auto;
  padding: 0;
  background-color:transparent;
  width: 80vw;
}
.Cart .container {
  margin: 0 auto;
}
/* Checkout Process */
.Cart .process-checkout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}
.Cart hr {
  width: 700px;
  border: .5px solid;
}
.Cart .process-box {
  background-color: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Cart .process-box p {
  margin: 0;
  padding: 0;
}
.Cart .process-box:first-child .circle {
  background-color: #666666;
  color:#ffff;
}
.Cart .mid-line {
  width: 200px;
  height: 140px;
  border-top: 1px solid #666666;
  flex-shrink: 0;
  z-index: 2;
}
.Cart .circle {
  background-color: #ffff;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.Cart .cart-icon {
  position: absolute;
  top:6px;
  right:7px;
  height: 35px;
  width: 35px;
  font-weight: normal;
}
.Cart .container .cart-details {
  display:flex;
  flex-direction: column ;
  gap: 1rem;
}
.Cart .CartCard ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.Cart .CartCard li {
  width: 120px;
}
.Cart .CartCard {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-line-box);
  background-color: #ffff;
}
.Cart .CartCard img {
  vertical-align:top;
}
.Cart .service-box {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  gap: 2rem;
}
.msg-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 1rem;
}
.msg-empty .back-to-store {
  color: var(--color-red)
}
.Cart .order-summary {
  display: flex;
  flex-direction: column;
  color: #1b1b1b;
  line-height: 25px;
  border: 1px solid #1b1b1b;
  padding: 3rem;
}
.order-summary button {
  margin-top: 1rem;
  background-color: var(--color-red);
  display: flex;
  align-items: center;
  border: none;
}
.order-summary .order-shokei-section, .order-soryo-section, .order-gokei-section {
  margin-bottom: 8px;
}
.order-summary div {
  display: flex;
  justify-content: space-between;
}
.order-summary .order-soryo-section {
  border-bottom: 1px solid #1b1b1b;
}
.btn-delete, .btn-delete:hover {
  background-color: transparent;
  border: none;
}
.text {
  color: rgb(69, 68, 68);
  font-size: 0.9rem;;
}
.batsu-icon {
  color: rgb(80, 78, 78);
  font-size: 1rem;
}
.hr {
  border: .5px solid rgb(69, 68, 68);
}
