.Cart {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 80vw;
  height: calc(100vh - 12rem);
  overflow-y: scroll;
}
.Cart .container {
  margin: 0 auto;
}
.Cart .title {
  padding: .5rem;
  border: 1px solid black;
  display: inline-block;
  margin: 2rem;
}
.Cart .container .cart-details {
  display:flex;
  flex-direction: column ;
  gap: 1rem;
}
.Cart .CartCard ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.Cart .CartCard li {
  width: 120px;
}
.Cart .CartCard {
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.Cart .CartCard img {
  vertical-align:top;
}
.Cart .service-box {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  gap: 2rem;
}
.msg-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 1rem;
}
.msg-empty .back-to-store {
  color: var(--color-red)
}
.Cart .order-summary {
  display: flex;
  flex-direction: column;
  color: #1b1b1b;
  line-height: 25px;
  border: 1px solid #1b1b1b;
  padding: 3rem;
}
.order-summary button {
  margin-top: 1rem;
  background-color: var(--color-red);
  display: flex;
  align-items: center;
  border: none;
}
.order-summary .order-shokei-section, .order-soryo-section, .order-gokei-section {
  margin-bottom: 8px;
}
.order-summary div {
  display: flex;
  justify-content: space-between;
}
.order-summary .order-soryo-section {
  border-bottom: 1px solid #1b1b1b;
}
.btn-delete, .btn-delete:hover {
  background-color: transparent;
  border: none;
}
.text {
  color: rgb(69, 68, 68);
  font-size: 0.9rem;;
}
.batsu-icon {
  color: rgb(80, 78, 78);
  font-size: 1rem;
}
.hr {
  border: .5px solid rgb(69, 68, 68);
}