.Home .container {
  width: 90%;
  margin: 0 auto;
}
/* slider */
.slider {
  margin: 1rem auto 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slides {
  width: 500%;
  height: 550px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:50% 50%; 
}
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
}
.slider-text {
  position:absolute;
  width: 100%;
  top: 15rem;
  left: 45rem;
  color: rgb(254, 254, 254);
  z-index: 1;
  font-family: Lora;
  font-size: 1em;
}
.manual-btn {
  border: 2px solid var(--color-orange);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: var(--color-orange);
}
#radio1:checked ~.first{
  margin-left: 0;
}
#radio2:checked ~.first{
  margin-left: -20%;
}
#radio3:checked ~.first{
  margin-left: -40%;
}
#radio4:checked ~.first{
  margin-left: -60%;
}
/*css for automatic navigator */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 860px;
  top: -360px;/*button position */
}
.navigation-auto div {
  border: 2px solid var(--color-orange);
  padding: 5px;
  border-radius: 50%;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: var(--color-orange);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: var(--color-orange);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: var(--color-orange);
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: var(--color-orange);
}

/* home-contents */
.home-contents {
  margin: 0 auto;
}
.new-products, .new-topics {
  width: 100%;
  margin-top: 5rem;
}
.Home-topicCard {
  display: flex;
  gap: 2rem;
}
.topic-right {
  width: 100%;
  overflow: hidden;
}
.topic-right .topic1, .topic-right .topic2,.topic-right .topic3 {
  display: flex;
  gap: 2rem;
}
.topic-right .topic1, .topic-right .topic2, .topic-right .topic3 {
  border-bottom: 2px solid rgb(232, 231, 231);
  margin-bottom: 1rem;
}
.topic-right .topic1 div, .topic-right .topic2 div,.topic-right .topic3 div{
  width: 100%;
  overflow: hidden;
}
.topic-right .topic1 picture, .topic-right .topic2 picture,.topic-right .topic3 picture {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.topic-right .topic1 img, .topic-right .topic2 img,.topic-right .topic3 img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  opacity: 1;
  transition: .3s;
}
.topic-right .topic1-description, .topic-right .topic2-description, .topic-right .topic3-description{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.topic-right .topic1 img:hover, .topic-right .topic2 img:hover,.topic-right .topic3 img:hover {
  opacity: 0.5;
}
.Home-topicCard .topic0 picture {
  width: 100%;
  height: 100%;
}
.Home-topicCard .topic0 img {
  width: 100%;
  height: 400px;
  opacity: 1;
  vertical-align: top;
  transition: .3s;
}
.TopicCard .topic0 img:hover {
  opacity: 0.5;
}
.Home-topicCard .topic0 div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.Home-topicCard .date {
  font-size: 1rem;
  background-color: var(--color-blue);
  color: #fff;
  padding-left: 1rem;
}
.Home-topicCard h3 {
  padding-top: 1rem;
}
/* ProductCard */
.new-products .scroll {
  overflow-x: scroll;
}
.Home-productCard {
  display: flex;
  flex-direction: row;
  height: auto;
  width: max-content;
  gap: 1rem;
}
.new-products h2, .new-topics h2 {
  margin: 0;
}
