.ProfilePage {
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  width: 80vw;
}
.ProfilePage .container {
  margin: 0 auto;
  width: 80%;
}
.ProfilePage .title {
  padding: 2rem;
  text-align: center;
}
.ProfilePage .UserProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin: 2rem 0;
  padding: 2rem 0;
}
.UserShippingAddress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  padding-bottom: 2rem;
}