.ProfilePage {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 80vw;
  height: calc(100vh - 12rem);
  overflow-y: scroll;
}
.ProfilePage .container {
  width: 80%;
  margin: 0 auto;
}
.ProfilePage .title {
  padding: 2rem;
}
.ProfilePage .UserProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin: 2rem 0;
  padding: 2rem 0;
}
.UserShippingAddress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  padding-bottom: 2rem;
}