.Search {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 55px 50px rgba(255, 255, 255, 0.2);
}
/* #search-keyword {
border-radius: 8px;
border: 1px solid rgb(187, 185, 185);
padding: .5rem;
} */
#search-keyword {
  outline: none;
  width: 20rem;
  height: 2rem;
}
#search-keyword {
  border: 2px solid black;
  padding: .5rem 0 .5rem 1.8rem;
  }
.Search form {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 12px;
  right: 295px;
  color: var(--color-primary-light)
}