/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital, wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');


:root {
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif; */
  font-family: 'Noto Serif JP', serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-primary: #000000;
  --color-primary-light: #808080;
  --color-primary-dark: #585858;
  --body-bg-color: #FFFFFF;
  --body-txt-color: #000000;
  --body-txt-color-light: #777777;
  --color-orange:rgb(237, 75, 11);
  --color-red:#c0392b;
  --color-blue:#002247;
  --color-line-box:#DDDDDD;
  --color-link-red:#BD100E;
  --color-link-red-hover: #5E0807;
  --color-link-orange: #FF6666;
  --color-link-orange-hover: #DD6666;
  --body-font-arial: 'Arial', 'sans-serif';
  --body-font-roboto: 'Roboto';
  --body-font-helvetica: 'HelveticaNeuve-Light';
  --body-font-sawarabi: 'Sawarabi Mincho', 'serif'
  --body-font-sawarabi-gothic: 'Sawarabi Gothic', sans-serif;
}
#root, *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}
header {
  position: inherit;
  top: 0;
  height: 1.5rem;
  z-index: 9999;
}
main {
  width: 100%;
  margin: 0 auto;
  padding-top: 6.5rem;
  padding-bottom: 0.5rem;
}
footer {
  text-align: center;
  background-color: #FFFFFF;
  padding-top: 1rem;
  height: 3rem;
  width: 100vw;
}
ul, li {
  list-style: none;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: gray;
}

h1 {
  font-size: 3.2em;
  font-weight: normal;
  line-height: 1.1;
}
h2 {
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -.1rem;
}

h5 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-red);
}
h6 {
  font-size: 1rem;
  background-color: var(--color-blue);
  color: #fff;
}
p {
  font-family: 'Noto Serif JP', serif;
  font-family: var(--body-font-sawarabi);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

button {
  border: 1px solid transparent;
  padding: 0.5em 2em;
  border-radius: 0.25rem;
  font-size: .8em;
  font-weight: 600;
  color: #fff;
  font-family: inherit;
  background-color: var(--color-red);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: rgb(179, 70, 15);
  border-color:  rgb(196, 70, 7);
}
input {
  width: 400px;
  height: 40px ;
  border: 2px solid black;
  padding: .5rem;
  margin-bottom: 1rem;
  margin-top: .2rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "　|　" !important;
}
.breadcrumb {
  display: flex;
  font-size: .8rem;
}
.breadcrumb a {
  color:var(--color-red);
}
