.Orders {
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  width: 80vw;
}
.Orders .container {
  margin: 0 auto;
}
.Orders .final-order-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
/* Ord.Orders Process */
.Orders .process-checkout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}
.Orders hr {
  width: 700px;
  border: .5px solid;
}
.Orders .process-box {
  background-color: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#ffff;
}
.Orders .process-box p {
  margin: 0;
  padding: 0;
  color: black;
}
.Orders .mid-line {
  width: 200px;
  height: 140px;
  border-top: 1px solid #666666;
  flex-shrink: 0;
  z-index: 2;
}
.Orders .circle {
  background-color: #666666;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.Orders .cart-icon {
  position: absolute;
  top:6px;
  right:7px;
  height: 35px;
  width: 35px;
  font-weight: normal;
}

/* Service-box --- User Info */
.Orders .service-box {
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
  width: 100%;
}
.Orders .user-info {
  display: flex;
  flex-direction: column;
  flex:1 ;
  background-color: #ffff;
  border: 1px solid var(--color-line-box);
  padding: 1rem;
  width: 100%;
  text-align: right;
  min-height: 274px;
}
.Orders .user-info b {
  text-align: left;
  padding-bottom: 3rem;
}

/* Service-box --- Product Info */
.Orders .validProduct {
  flex: 2;
  background-color: #ffff;
  border: 1px solid var(--color-line-box);
  padding: 1rem;
  min-height: 274px;
}
.Orders .validProduct .CartCard img {
  vertical-align: bottom;
}
.Orders .validProduct .CartCard tr {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.Orders .validProduct .CartCard td {
  font-size: .8rem;
  width: 150px;
  text-align: right;
}
.Orders .validProduct .CartCard td:first-child {
  text-align: left;
}
.Orders .validProduct .CartCard td:nth-child(2) {
  text-align: left;
}
.Orders .validProduct .CartCard form {
  display: none;
}

/* Valid Payment */
.Orders .validPayment {
  border: 1px solid var(--color-line-box);
  padding: 1rem;
  min-height: 274px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.Orders .order-shokei-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Orders .order-shokei-section td {
  width: 150px;
}