.Orders {
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  width: 80vw;
}
.Orders table {
  margin: 0 auto;
}
.Orders .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Orders .final-order-container {
  display: flex;
  justify-content: space-between;
}

/* Service-box */
.Orders .service-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.Orders .user-info table {
  background-color: #ffff;
  border: 1px solid var(--color-line-box);
  padding: 1rem;
}
.Orders .user-info tr {
  width: 100%;
}
.Orders .user-info tr .first-td {
  width: 140px;
}
.Orders .user-info tr .second-td {
  width: calc(100% - 140px);
}
.Orders .CartCard ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffff;
}
.Orders .CartCard li {
  width: 120px;
}
.Orders .CartCard {
  display: flex;
  align-items: center;
}
.Orders .CartCard img {
  vertical-align:top;
}
.Orders .CartCard .btn-delete {
  display: none;
}
.Orders .validProduct {
  border: 1px solid var(--color-line-box);
}

/* Ord.Orders Process */
.Orders .process-checkout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}
.Orders hr {
  width: 700px;
  border: .5px solid;
}
.Orders .process-box {
  background-color: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#ffff;
}
.Orders .process-box p {
  margin: 0;
  padding: 0;
  color: black;
}
.Orders .mid-line {
  width: 200px;
  height: 140px;
  border-top: 1px solid #666666;
  flex-shrink: 0;
  z-index: 2;
}
.Orders .circle {
  background-color: #666666;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.Orders .cart-icon {
  position: absolute;
  top:6px;
  right:7px;
  height: 35px;
  width: 35px;
  font-weight: normal;
}